@model CarsApp.Models.Car

@{
    ViewData["Title"] = "Details";
}

    <h1 class="cars-heading">@Html.DisplayFor(model => model.DisplayName)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelOfCar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelOfCar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassOfCar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassOfCar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
